@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e9f3f4;
  --color-blueClaire: #2a8e9e;
  --color-blueFoncee: #180d39;
  --color-blackClaire: #1d1e20;

  --font-poppins: "Poppins", sans-serif;

  --breakpoint-xs: 420px;
  --breakpoint-ss: 620px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1700px;
}

@layer components {
  .btn-primary {
    @apply py-3 px-6 font-poppins font-semibold text-[16px] text-blackClaire border outline-none rounded-[10px] cursor-pointer;
  }

  
  .reveal {
    @apply opacity-0 transition-all sm:duration-1000 duration-500 ease-out;
  }

  
  .reveal.show {
    @apply opacity-100 translate-x-0 translate-y-0 rotate-0 scale-100;
  }


  .reveal-left {
    @apply -translate-x-90;
  }

  .reveal-right {
    @apply translate-x-50;
  }

  .reveal-bottom {
    @apply translate-y-60;
  }

  .reveal-rotate {
    @apply rotate-12 scale-90;
  }

  .delay-0{
    transition-delay: 0ms;
  }
  .delay-500{
    transition-delay: 500ms;
  }
  .delay-1000{
    transition-delay: 1000ms;
  }
  .delay-1500{
    transition-delay: 1500ms;
  }
  .delay-2000{
    transition-delay: 2000ms;
  }

  @keyframes fadeUp {
    0%{
      opacity: 0;
      transform: translateY(150px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animation-fade-up{
    opacity: 0;
    animation: fadeUp 0.8s ease-out forwards;
  }
 
}
